.pessoas{
    display: flex;
    justify-content: space-around;
    padding-top: 3rem;
}

@media screen and (min-with:0) {
   .pessoas{
    flex-direction: column;
   } 
}

@media screen and (min-with:768px) {
   .pessoas{
    flex-direction: row;
   } 
}
