.banner_imagem{
    background-position: center;
    background-image: url('../../img/banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: calc(100vh - 72px);
}

@media screen and (min-width: 0) {
    .banner_imagem{
        height: calc(100vh - 72px);
    }
}