.banner_imagem{
    background-position: center;
    background-image: url('../../img/banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: calc(100vh - 72px);
}